.Sidebar{
    position: fixed;
    width: 200px;
    max-width: 30%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 500;
    background-color: #20232a;
    color: #61DAFB;
    padding: 32px 16px;
    box-sizing: border-box;
    transition: transform 0.2s ease-out;
}

@media (min-width: 500px){
    .Sidebar{
        display: none;
    }
}

.Open {
    transform: translateX(0);
}

.Close {
    transform: translateX(-100%);
}